ACTION=="add", SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="2833", TAG+="systemd", ENV{SYSTEMD_USER_WANTS}="quest-autolaunch.service"
